$TITLE_COLOR: rgb(37, 49, 141);
$BORDER_COLOR: rgb(56, 74, 211);
$LINK_COLOR: rgb(133, 133, 133);
$LINK_COLOR_HOVER: black;
$BACKGROUND_COLOR: rgb(20, 20, 110);

:root {
  background-color: $BACKGROUND_COLOR;
}

body {
  max-width: 980px;
  margin: auto;
  font-family: roboto, sans-serif;
  background-color: white;
  color: black;

  // separates it from the background of the document
  min-height: 100vh;
  padding: 1px 20px;
}

header {
  // header already fills the width, just center the text
  text-align: center;

  // font stuff
  color: $TITLE_COLOR;
  font-size: 32px;
  font-weight: 100;

  margin-top: 16px;
  margin-bottom: 16px;
}

nav {
  font-family: roboto, sans-serif;
  text-transform: uppercase;

  border-top: 1px solid $BORDER_COLOR;
  border-bottom: 1px solid $BORDER_COLOR;
  margin-top: 16px;
  margin-bottom: 16px;

  ul {
    list-style: none;
    display: flex;
    justify-content: space-around;
    padding: 0;
    margin: 0;
  }

  li {
    // don't let them get squeezed too close horizontally,
    // and give them some breathing room vertically
    margin: 1ex 0.5em;
  }

  a {
    text-decoration: none;

    // TODO: figure out how to highlight the link for this specific page
    color: $LINK_COLOR;
    &:hover {
      color: $LINK_COLOR_HOVER;
    }

    // gently highlight link
    transition: color 0.4s ease 0s;
  }
}

main {
  margin: 0 auto;

  // center-align text by default (includes images; they're wrapped in <p>)
  text-align: center;
}

figure {
  width: min-content;
  margin: 0 auto;
}

.small {
  font-size: small;
}

.gallery-box {
  display: grid;
  grid-template-columns: 1fr 1fr;
  row-gap: 40px;
}

.gallery-info {
  margin: 4ex auto;
}

.central-body-text {
  font-size: 20px;
  font-weight: 100;
  width: 750px;
  margin: 0 auto;
}
